@import "tailwindcss";

@theme {
    --color-rs-black: #131215;
    --color-rs-white: #e3e3e2;
    --color-rs-border: #202020;
    --default-font-family: "Poppins", sans-serif;
    --font-sans: "Poppins", sans-serif;
}